/Alizee/Alizee.iml
/Alizee/target/
/Alizee/core/target/
/Alizee/web/target/
/Alizee/core/log/
/Alizee/web/log/
/Alizee/web/src/main/webapp/attachFiles/
/core/target/
/web/target/
*.iml
.log
*.log
portfolio*.bin
pom.properties
/office/.idea/
.idea/**
*.log.zip
*/.gitignore